/**
 * 1.0 Cover Page
 * ----------------------------------------------------------------------------
 */

body.coverpage {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


/* 
 * Custom Stuff
 */

.square, .rect, .titlebox {
    float:left;
    position: relative;
    padding-bottom : 23%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    opacity: 1;
    overflow: hidden;
    outline: 1px solid;
}
.square { width: 23%; }
.rect {	width: 73%; }
.titlebox {	width: 98%; }

.profilebadge {
  float: left;
  font-size:22px;
  padding:3px;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:2px solid #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:45px;
  height:45px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;	
}

.selected {
	outline: inset;
}

.squarecontent {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5%;
	
}

.squaretable {
	display: table;
	width: 100%;
	height: 100%;
}

.squaretext {
    width:100%;     
	display: table-cell;
    vertical-align: middle;
    font-family: Comfortaa;
    font-size: 1.3vw;
    font-weight: bold;
}

.churn {background: #ffff00;}
.churn:hover {background: #ffff66;}

.redflag {background: #ff0000;}
.redflag:hover {background: #ff5050;}

.longtimer {background: #0066ff;}
.longtimer:hover {background: #3399ff;}

.risingstar {background: #00ff00;}
.risingstar:hover {background: #66ff99;}

@media (max-width: 767px) {
  .squaretext {
    font-size: 6.5vw;
  }
}

}