/**
 * 1.0 Cover Page
 * ----------------------------------------------------------------------------
 */

body.coverpage {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


/* 
 * Custom Stuff
 */

.square  {
    float:left;
    position: relative;
    width: 23%;
    padding-bottom : 23%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    opacity: 1;
    overflow: hidden;
    outline: 1px solid;
}

.profilebadge {
  float: left;
  font-size:22px;
  padding:3px;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:2px solid #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  width:45px;
  height:45px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;	
}

.profilemini {
  margin: auto;
  font-size:13px;
  padding:1px;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  -o-border-radius:100%;
  border-radius:100%;
  border:1px solid #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
  vertical-align:middle;
  width:22px;
  height:22px;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  -o-transition:.5s;
  transition:.5s;	
}

.selected {
	outline: inset;
}

.squarecontent {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5%;
	
}

.squaretable {
	display: table;
	width: 100%;
	height: 100%;
}

.squaretext {
    width:100%;     
	display: table-cell;
    vertical-align: middle;
    font-family: Comfortaa;
    font-size: 1.3vw;
    font-weight: bold;
}

.waiting {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	font-size: 48px;
    text-align: center;
    z-index: 999;
    background: black;
    opacity: .5;
    color: white;
    margin-left: -17px;
    margin-top: -12px;
}

@media (max-width: 767px) {
  .squaretext {
    font-size: 6.5vw;
  }
}

}