/**
 * 1.0 Cover Page
 * ----------------------------------------------------------------------------
 */


input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; color: #007698;} /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f14a"; color: #007698;} /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 9px; } /* allow space for check mark */

body.coverpage {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div.loginpanel {
	background: rgba(93,110,115,0.9);
    background: -webkit-linear-gradient(-45deg,rgba(57,68,75,0.85) 0,rgba(57,68,75,0.85) 100%);
    background: -moz-linear-gradient(-45deg,rgba(57,68,75,0.85) 0,rgba(57,68,75,0.85) 100%);
    background: -ms-linear-gradient(-45deg,rgba(57,68,75,0.85) 0,rgba(57,68,75,0.85) 100%);
    background: -o-linear-gradient(-45deg,rgba(57,68,75,0.85) 0,rgba(57,68,75,0.85) 100%);
    background: linear-gradient(135deg,rgba(57,68,75,0.85) 0,rgba(57,68,75,0.85) 100%);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
    height: 100%;
    margin: 0 0 0 40px;
    position: relative;
    top: 0;
    width: 400px;
    z-index: 100;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    position: absolute;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.square {
    float:left;
    position: relative;
    width: 48%;
    padding-bottom : 48%; /* = width for a 1:1 aspect ratio */
    margin:1%;
    opacity: .7;
    border-style: hidden;
}

.selected {
	opacity: 1;
	outline:1px solid grey;
}

.probability {
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 5%;
    vartical-align: middle;
    font-family: Comfortaa;
    font-size: 3vw;
    font-weight: bold;
    text-align: center; /* horizontal centering */	
}

.churn {background: #ffff00;}
.churn:hover {background: #ffff66;}

.redflag {background: #ff0000;}
.redflag:hover {background: #ff5050;}

.longtimer {background: #0066ff;}
.longtimer:hover {background: #3399ff;}

.risingstar {background: #00ff00;}
.risingstar:hover {background: #66ff99;}

@media (max-width: 993px) {
  .probability {
    padding: 5%;
    font-size: 6vw;
  }
}

@media (max-width: 767px) {
  .probability {
    padding: 5%;
    font-size: 15vw;
  }
}

@media (max-width: 600px) {
  div.loginpanel {
    position: relative;
    margin: auto;
    margin-top: 20%;
  }
}

@media (max-width: 400px) {
  div.loginpanel {
    width: 100%;
  }

}

}